<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Akim/IdeaProjects/NWWallet_TAF/api">
        <classes>
            <class name="apitest.CustomerTest"></class>
            <class name="apitest.ManagerTest"></class>
        </classes>
    </test>
</suite>